/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 28pt;
 color: #008000;
}
span.rvts12
{
 font-size: 36pt;
 font-weight: bold;
 color: #008000;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 12pt;
}
span.rvts16
{
 font-size: 14pt;
}
a.rvts17, span.rvts17
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 text-decoration: none;
}
span.rvts18
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts19
{
 font-size: 14pt;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-indent: 48px;
}
.rvps5
{
 text-indent: 48px;
 margin: 0px 0px 0px 96px;
}
.rvps6
{
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps7 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps8
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps10
{
}
.rvps11
{
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps13
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps14
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps15
{
 text-indent: 48px;
 margin: 0px 0px 0px 144px;
}
.rvps16
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 144px;
}
.rvps17
{
 text-indent: 86px;
}
.rvps18
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps19
{
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps20
{
 text-align: right;
}
.rvps21
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps22
{
 text-align: right;
 text-indent: 48px;
}
.rvps23
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps24
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 144px;
}
.rvps25
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps26
{
}
.rvps27
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps28
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps29
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps30
{
}
.rvps31
{
}
.rvps32
{
}
.rvps33
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps34
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps35
{
 text-indent: 48px;
}
.rvps36
{
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps37
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps38
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 288px;
}
.rvps39
{
}
.rvps40
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps41
{
 text-indent: 48px;
}
.rvps42
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps43
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps44
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps45
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps46
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps47
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps48
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 96px;
}
.rvps49
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps50
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps51
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps52
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 144px;
}
.rvps53
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps54
{
 text-indent: 48px;
 margin: 0px 0px 0px 288px;
}
.rvps55
{
 text-align: right;
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps56
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps57
{
}
.rvps58
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps59
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps60
{
 text-indent: 48px;
 margin: 0px 0px 0px 144px;
}
.rvps61
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps62
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps63
{
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
